h2,
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color:rgb(248, 48, 125);
}

p{
font-size: 20px;
}


body{

    background-color: silver;
}

.border-redondeados{
    border-radius: 50%;
}

img{
    width: 300px;

}